<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="contextSource"
        class="org.springframework.ldap.support.LdapContextSource">
        <property name="url" value="ldap://${ldapurl}/${ldapusuariosbindsubpath}${ldappath}" />
         <property name="userName" value="${ldapmanagerDN}" />
        <property name="password" value="${ldapmanagerPasswd}"/>
          </bean>
    <bean id="ldapTemplate" class="org.springframework.ldap.LdapTemplate">
        <constructor-arg ref="contextSource" />
    </bean>
    <bean id="ldapContact"
        class="es.pode.adminusuarios.negocio.comun.LDAPContactDAO">
        <property name="ldapTemplate" ref="ldapTemplate" />
    </bean>
    <bean id="contextSourceAux"
        class="org.springframework.ldap.support.LdapContextSource">
        <property name="url" value="ldap://${ldapurlsecundario}/${ldapusuariosbindsubpathsecundario}${ldappathsecundario}" />
         <property name="userName" value="${ldapmanagerDNsecundario}" />
        <property name="password" value="${ldapmanagerPasswdsecundario}"/>
          </bean>
    <bean id="ldapTemplateAux" class="org.springframework.ldap.LdapTemplate">
        <constructor-arg ref="contextSourceAux" />
    </bean>
    <bean id="ldapContactAux"
        class="es.pode.adminusuarios.negocio.comun.LDAPContactDAO">
        <property name="ldapTemplate" ref="ldapTemplateAux" />
    </bean>   
    <bean id="contextSourceProcomun"
        class="org.springframework.ldap.support.LdapContextSource">
        <property name="url" value="ldap://${ldapurlProcomun}/${ldapusuariosbindsubpathProcomun}${ldappathProcomun}" />
         <property name="userName" value="${ldapmanagerDNProcomun}" />
        <property name="password" value="${ldapmanagerPasswdProcomun}"/>
    </bean>
    <bean id="ldapTemplateProcomun" class="org.springframework.ldap.LdapTemplate">
        <constructor-arg ref="contextSourceProcomun" />
    </bean>
    <bean id="ldapContactProcomun"
        class="es.pode.adminusuarios.negocio.comun.LDAPContactDAO">
        <property name="ldapTemplate" ref="ldapTemplateProcomun" />
    </bean>        
</beans>
